
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
    
<body>
    <h1><%= title %></h1>
        <ol>
            <% _.each(items, function(topC) { %>
                 <h1><%= topC.page_title %></h1>
            <%}); %>
			 	
                <% _.each(categories, function(topC) { %>
                    <li>
                        <h1><%= topC.name %></h1>
                        <p><%= topC.page_description %></p>
                        <h1><%= categories.name %></h1>
                            <% if (topC.image) { %>
                                <div>
                                  <img class="img-responsive" src="/images/<%= topC.image%>">
                                </div>
                            <% } %>
                           <a href="/shop/<%= topC.parent_category_id %>/<%= topC.id %>" class="btn btn-default" role="button">View products</a>
                    </li>
             <% }); %>
        </ol>
s</body>
</html>