
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
     
<body>
        
    <ol>
        <% _.each(items, function(topC) { %>
            <li>
				<h1><%= topC.name %></h1>
				<p><%= topC.page_description %></p>
                <a href="/shop/<%= topC.id %>" class="btn btn-default" role="button">View products</a>
			 </li>
        <% }); %>
    </ol>
</body>
</html>
