<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>


    <nav>
     <a href="/home">Home</a>
     <a href="/mens">Men's</a>
     <a href="/womens">Women's</a>
   </nav>

    <body>
        <h1><%= title %></h1>
        <ol>
            <% _.reduce(items, function(topC) { %>
   
            <li>
    
                <h1><%= topC.name %></h1>
                <p><%= topC.page_description %></p>
                
                <div>
                    <ol>
                    <% _.each(topC.categories, function(subC) { %>
            <li>
                <h2><%= subC.name %></h1>
                <p><%= subC.page_description %></p>
               <% if (subC.image) { %>
           <div>
                 <img src="/images/<%= subC.image %>">
           </div>
                  <% } %>
                  <button type="button" class="btn btn-danger" onclick="window.location='<%= subC.name %>'">View Product</button>
             </li>
        
       <% }); %>   
      
     </ol>
                </div>    
   </li>
   
            <% }); %>
        </ol>
    </body>
</html>