<!DOCTYPE html>
    <html>
        <head>
            <title><%= title %></title>
            <link rel="stylesheet" href="/stylesheets/style.css" />
        </head>
        <nav>
         <a href="/categories">Home</a>
         <a href="/subcategories">Men's</a>
         <a href="/subcategories">Women's</a>
        </nav>

         <body>
           
        </body>
    </html>