<!DOCTYPE html>
<html>
  <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body> 
    
        <h1><%= title %></h1>
        <ol>
            <% _.each(items, function(topC) { %>
            
            <%}); %>
                  <% _.each(items, function(topC) { %>
                    
                  <% }); %>
                        <% _.each(productsdetails, function(topC) { %>
                             <h1><%= topC.name %></h1>
                             <p><%= topC.page_description %></p>
                             <p><%= productsdetails.name %></p>
                        <% if (topC.image) { %>
                            <div>
                                <img class="img-responsive" src="/images/<%= topC.image%>">
                            </div>
                        <% } %>
                        <a href="/shop/<%= topC.id %>" class="btn btn-default" role="button">View products</a>
                  <%}); %>
           </ol>
</body>
    

</head>
</html>